<html>
  
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>CV Boitelle Justine-Expériences Professionels</title>
        <header>
           
       CV de Boitelle Justine  <br>   Poste de manager chez Pepsi</h1>
       
        </header>
        <a href="mon-cv.html">Accueil</a> <br>
        <a href="mon-cv-experiences.html">Expériences</a>
        <h2>Formations</h2>
    <ul><section>
    <li><strong>Septembre 2019 - Juillet 2022 </strong> <i>Bachelor Marketing</i></li>
    <li><strong>Septembre 2015 - Juillet 2019</strong> <i>Bac L au Lycée Saint Bernard Troyes </i></li> <br
    <li><strong>Septembre 2011 - Juillet 2015</strong><i> Brevet des collèges au collège Saint Francois Troyes</i></li>
    </ul></section>

        <footer>
            téléphone: 06.31.98.76.XX,<br> Mail:justine.boitelle@iseg.fr<br>
                 </footer>

</html>

<html>
    <header><link rel="stylesheet" href="mon-cv-experiences.css"
    <head></head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>CV Boitelle Justine-Expériences Professionels</title>
        <header>    
             CV de Boitelle Justine     poste de manager chez Pepsi</h1
            </header>
        <a href="mon-cv.html">Accueil</a> <br>
            <a href="mon-cv-formations.html">Formations</a>
        <body>
 <section>           
<h2>Expériences Professionnelles</h2>
<ul><p>
<li><strong>Juillet 2019</strong><i> Experience dans une bijouterie vendeuse</i></li>  <br>  
<li><strong>Août 2018</strong> <i>Vendeuse chez Paul</i></li><br>
<li><strong>Juillet 2017</strong> <i>Experience dans une maison d'hôte</i></li>
</ul></section>
        </body>
        <footer>
            téléphone: 06.31.98.76.XX,<br> Mail:justine.boitelle@iseg.fr<br> 
             </footer>

</html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="mon-cv.css" />
<title>CV Boitelle Justine</title>
</head>
<body>
<header>


 CV de Justine Boitelle    poste de manager chez Pepsi</h1>

 <br>
<a href="mon-cv-experiences.html">Expériences</a> <br>
<a href="mon-cv-formations.html">Formations</a>

</header>
<section>
<h2>Profil</h2>
<p>Etudiante a l'ISEG Strasbourg, née le 23/08/2000, titulaire d'un <i>permis B </i></p>
</section>
<h2>Compétences</h2>
<ul>
<li>assidue</li> 
<li>organisée/li>
<li>autonome</li>
</ul>
<h2>Intérêts</h2>
Quelques sports: Tennis,Vélo <br>
Séries, Cinéma, Livres.<br>
<br>
<footer>
téléphone: 06.31.98.76.XX,<br> Mail:justine.boitelle@iseg.fr<br> </footer>
</body>
</html>